@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav ">
            <li>
                @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) <a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Odhlásit se</a>
            </li>

        </ul>
    }
}
else
{
    @Html.ActionLink("Registrace", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Přihlášení", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })




}
