
@{
    ViewBag.Title = "ErrorImp";
    Layout = "~/Views/Shared/_Layout - printer.cshtml";
}

<h2>Chyba Importu</h2>
<p> Data již byla nahrána!</p>
@Html.ActionLink("Zpět na Import", "Index", "ImportPrinter", null, new { @class = "btn btn-primary" })


